# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
*.cookie
*.toml
helper
*.zip
tasks.txt
testDir/
coverage.txt

# 删除 Goland 设置
.idea

.orig